- title "Search by authority - #{@council.name}", false
.row
	#leftcol.span8
		%h2= "Search by authority - #{@council.name}"
		= search_form_for @search, :url => search_inspections_path,  :html => { :class => "form-horizontal well" } do |f|
			%fieldset
				.control-group 
					= f.label :name_cont, "Business name:", :for => "name"
					.controls
						= f.text_field :name_cont, :id => "name"
				.control-group 
					= f.label :category_eq, "Business type:" 
					.controls
						= f.select :category_eq, ["Primary Producers", "Manufacturers and Packers", "Importers/Exporters", "Distributors/Transporters", "Supermarket/Hypermarket", "Small retailer", "Retailer - other", "Restaurant/Cafe/Canteen", "Hotel/Guest house", "Pub/Club", "Take-away", "Caring premises", "School/College", "Mobile food unit"], {:prompt => '--Please Select--'}
					= f.hidden_field :councilid_eq, :value => @council.id
				.control-group 
					=f.label :address1_cont, "Address:"
					.controls
						= f.text_field :address1_cont
				.control-group 
					=f.label :town_eq, "Town / Village:"
					.controls
						= f.text_field :town_cont
				.control-group 
					=f.label :postcode_eq, "Postcode:"
					.controls
						= f.text_field :postcode_eq
				.control-group 
					= f.label :rating_eq, "Rating:"
					.controls
						= f.select :rating_eq, {"5 Stars" => 5, "4 Stars" => 4, "3 Stars" => 3, "2 Stars" => 2, "1 Stars" => 1, "No Stars" => 0}, {:prompt => '--Please Select--'}
					= hidden_field_tag :lat, :id => 'lat'
					= hidden_field_tag :lng, :id => 'lng'
				.control-group#geo.hidden
					= label_tag :nearest, "Show businesses near me"
					.controls
						= check_box_tag :nearest
				.form-actions
					= f.submit "Search", :class => "btn-primary icon-search", :name => nil
	.span4#rightcol
		%h3 Latest additions
		= render :partial => "inspections/latest"