- pagetitle "Contact Us", false
.row#fullwidth
	.span12
	
		%h2 Contact Us
		
		%p To get in touch with ratemyplace, please use the online form below:
		
		= form_for(@contact, :html => {:class => 'form-horizontal'}) do |f|
			- if @contact.errors.any?
				.alert.alert-error
					%h4.alert-heading= pluralize(@contact.errors.count, "error") + " prevented your message from being sent:"
					
					%ul
						- @contact.errors.full_messages.each do |msg|
							%li= msg
			%fieldset
				- if @contact.errors.messages[:name].nil?
					.control-group 
						= f.label "Your name"
						.controls
							= f.text_field :name
							%span.help-inline Required
				- else
					.control-group.error
						= f.label "Your name"
						.controls
							= f.text_field :name
							%span.help-inline Required

				- if @contact.errors.messages[:email].nil?
					.control-group
						= f.label "Your email address"
						.controls
							= f.text_field :email
							%span.help-inline Required
				- else
					.control-group.error
						= f.label "Your email address"
						.controls
							= f.text_field :email
							%span.help-inline Required
						
				.control-group 
					= f.label "Business name"
					.controls
						= f.text_field :business
						
				.control-group 
					= f.label "Address"
					.controls
						= f.text_area :address, :rows => 6, :class => 'span4'
						
				- if @contact.errors.messages[:message].nil?
					.control-group 
						= f.label "Your message"
						.controls
							= f.text_area :message, :rows => 6, :class => 'span4'
							%span.help-inline Required
				- else
					.control-group.error
						= f.label "Your message"
						.controls
							= f.text_area :message, :rows => 6, :class => 'span4'
							%span.help-inline Required
						
				.control-group 
					= f.label "What council does your comment relate to?"
					.controls
						= collection_select(:contact, :council, Council.where(:external => 0), :id, :name, {:include_blank => 'No particular council'})
	
				.form-actions
					= f.submit "Submit", :class => "btn btn-primary btn-large"