- pagetitle "Appeals, right to reply and reinspections", false
- council = Council.find(params[:council])
.row#fullwidth
	.span12
		%h2 Appeals, right to reply and reinspections
				
		:markdown
		
			### What can I do if I am not happy with the rating given to my business?
			
			There are three things that you can do:
			
			#### Appeals
			
			You can appeal if you think that the rating is unfair or wrong. You are encouraged to talk to the food safety officer who last inspected your business about why the rating was given. You will be able to find who this was on the last inspection report.
			
			If you still think that the rating is unfair or wrong, then you can appeal in writing within 14 days of being notified of your rating. 
			
			To appeal, [download an appeal form](./system/forms/fhrsappealform#{council.id}.doc) and send it to:
	
			> #{council.address}
			
			**Email:** [#{council.email}](mailto:#{council.email})
			
			* [Read more information about the appeal process](http://www.food.gov.uk/multimedia/pdfs/enforcement/fhrssafeguards.pdf).
			
			- - -
			
			#### Right to reply
			
			The 'right to reply' is different from an appeal and can be used to explain how your business has improved food hygiene after the inspection, or to say if there were unusual circumstances at the time of the inspection that might have affected the rating.
			
			To submit a right to reply, [download a right to reply form](./system/forms/fhrsrighttoreplyform#{council.id}.doc) and send it to:
			
			> #{council.address}
			
			**Email:** [#{council.email}](mailto:#{council.email})
			
			Your right to reply will be published online by the local authority alongside your hygiene rating. We may edit your comments in order to remove any offensive, defamatory, clearly inaccurate or irrelevant remarks.
			
			* [Read more information about the right to reply](http://www.food.gov.uk/multimedia/pdfs/enforcement/fhrssafeguards.pdf).
			
			- - -
			
			#### Reinspections
			
			If you believe that you have made the food hygiene improvements required you can request one re-visit to be undertaken before the next planned inspection. There is currently no charge for requesting a re-visit.
			
			To ask for a re-visit, [download a re-visit form](./system/forms/fhrsrevisitform#{council.id}.doc) and send it to:
			
			> #{council.address}
			
			**Email:** [#{council.email}](mailto:#{council.email})
			
			 Provided that a 'stand still' period of 3 months has elapsed since the last inspection an unannounced re-visit will be made. The rating may go up, down or stay the same as a result of the re-visit.
			 
			 - - -