- pagetitle "Find a Premises", false
.row#fullwidth
	.span12
		%h2 Foursquare cleanup
		- if @inspections.length == 0
			%p
				%strong Sorry, there were no results for your search
		- else
			
			%a.btn.btn-warning#download{:href => request.url.gsub("editsearch", "editsearch.csv")}
				%i.icon-download-alt.icon-white
				Download spreadsheet
			
			%table.table.table-bordered#searchresults
				%thead
					%tr
						%th Name
						%th Foursquare Name
						%th Actions
				- num = 1
				- @inspections.each do |inspection|
					- @council = Council.find(inspection.councilid)
					%tr
						%td= inspection.name
						%td= link_to inspection.foursquare_name, "https://foursquare.com/v/#{inspection.foursquare_id.gsub(/\?/, '')}", :target => "_blank"
						%td
							= link_to '<i class="icon-ok icon-white"></i>'.html_safe + 'Approve', "/admin/foursquarecleanup?id=#{inspection.id}&foursquare_id=#{inspection.foursquare_id.gsub(/\?/, '')}&approve=1", :class => 'btn btn-success'
							= link_to '<i class="icon-remove icon-white"></i>'.html_safe + 'Remove', "/admin/foursquarecleanup?id=#{inspection.id}&foursquare_id=#{inspection.foursquare_id}&approve=0", :class => 'btn btn-danger'
	
					- num = num + 1
			.pagination-centered= will_paginate @inspections, :inner_window => 2, :outer_window => 0