- @extras = capture do
	= javascript_include_tag "geo.min"
	= javascript_include_tag "geo"
- title "Ratemyplace | Food Safety Star Rating Scheme for Staffordshire", false
.row#home
	.span9
		= search_form_for @search, :url => search_inspections_path,  :html => { :class => "form-inline", :id => 'homesearch' } do |f|
			%fieldset
				%h2 Search for food hygiene ratings
				%p 
					= f.label :name_cont, "Business name:", :class => "span2"  
					= f.text_field :name_cont, :class => "span3"
				%p
					= f.label :category_eq, "Business type:", :class => "span2"  
					= f.select :category_eq, ["Primary Producers", "Manufacturers and Packers", "Importers/Exporters", "Distributors/Transporters", "Supermarket/Hypermarket", "Small retailer", "Retailer - other", "Restaurant/Cafe/Canteen", "Hotel/Guest house", "Pub/Club", "Take-away", "Caring premises", "School/College", "Mobile food unit"], {:prompt => '--Please Select--'}, :class => "span2"
				%p
					= f.label :rating_eq, "Rating:", :class => "span2"  
					= f.select :rating_eq, {"5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0}, {:prompt => '--Please Select--'}, :class => "span2"
					= hidden_field_tag :lat, :id => 'lat'
					= hidden_field_tag :lng, :id => 'lng'
				%p#geo.hidden
					= check_box_tag :nearest
					= label_tag :nearest, "Show businesses near me"
				%p
					= f.submit "Search", :class => "btn-primary icon-search", :name => nil
					%span.addon
						%i.icon-search
		.span3#ads
			.ad
				%h3 Follow us on Twitter
				= image_tag 'twitterad.png'
			.ad
				%h3 Find us on your mobile
				= image_tag 'mobilead.png'
		.span6#feed
			%h3 
				FSA Latest News
				%span
			
			%ul
				- for entry in @feed.entries[0..1] do
					%li
						%h4= link_to entry.title, entry.url
						%p= entry.summary.html_safe
			
	#rightcol.span3	
		%h3 
			%label{:for => "id"}
				Choose your council
		#council
			%form{:action => '/councils', :method => 'get'}
				= select_tag :id, options_from_collection_for_select(Council.find(:all), :slug, :name),
  { :onchange => "this.form.submit();", :prompt => 'Choose your local council'}
				= submit_tag "Search", :class => "btn-primary icon-search", :name => nil
		
		%h3 Latest additions
		= render :partial => "latest"		